<h2>Github User Search</h2>
<input type="text" (keyup)="onKeyup($event)">
<button (click)="getUsers()">Search</button>

<div *ngIf="searchResult">
    <p> Count = {{searchCount}}</p>
    <div>
        <md-card class="container" *ngFor="let user of searchResult.items">           
            <md-card-content >
            <div>
                  <img class="profile-image" md-card-image src={{user.avatar_url}}>  
            </div>
            </md-card-content>
             <md-card-title>
                <a md-raised-button (click)="showUserDetail(user)">{{user.login}}</a>
            </md-card-title>
        </md-card>
    </div>
</div>